/* app css stylesheet */
.angular-google-map-container 
{ 
	margin-top:39px;
	height: 100vh;
	/*width: 100vw; */
}

.jumbotron { 
  background-color: #49B6B0; /* green */
  color: #ffffff;
}
.navbar-default
{
	margin-bottom: 0px;
}

.navbar-overlap
{
	position: absolute;
	height: 39px;
	width: 100%;
	background-color: #009688;
}
.btn.btn-success.active
{
	color: white;
}
