/* app css stylesheet */
.angular-google-map-container 
{ 

	height: 100vh;
	/*width: 100vw; */
}

.jumbotron { 
  background-color: #49B6B0; /* green */
  color: #ffffff;
}
<<<<<<< HEAD

=======
.navbar
{
	margin-bottom: 0px;
}
>>>>>>> 86c5e91d6ad4bb6e8a1c642d3e80691534a28e8e
