<div id="selectors" class="col-xs-2">
	<h4>Select Graph Type</h4>
	<button class="btn btn-success" type="button" id="line" ng-click="clickLine()">Line Chart</button><br/>
	<button class="btn btn-success" type="button" id="radar" ng-click="clickRadar()">Radar Chart</button><br/>
	<button class="btn btn-success" type="button" id="bar" ng-click="clickBar()">Bar Chart</button>
</div>

<div id="graphs" class="col-xs-2" style="padding:50px">
	<div class="container" ng-show="showLine">
		<canvas id="line" 
				class="chart chart-line" 
				chart-data="Linedata"
				chart-labels="Linelabels" 
				chart-legend="true" 
				chart-series="Lineseries"
				chart-click="onClick">
		</canvas>
	</div>

	<div class="container" ng-show="showRadar">
		<canvas id="radar"
				class="chart chart-radar"
				chart-data="radarData"
				chart-labels="radarLabels">
		</canvas>
	</div>

	<div class="container" ng-show="showBar">
		<canvas id="bar"
				class="chart chart-bar"
				chart-data="barChartData"
				chart-labels="barChartLabels"
				chart-series="barChartSeries">
		</canvas>
	</div>
</div>