<div class="navbar-overlap"></div>
<div class="col-sm-4">
    <uib-tabset active='0'>
            <uib-tab index="0" heading="Statistics">
                <ul class="list-group">
                    <li class="list-group-item">
                        <b>Markers</b> <span class="badge">{{markers.length}}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Average Speed:</b> {{averageSpeed | limitTo:10}}ms<sup>-1</sup>
                    </li>
                </ul>
            </uib-tab>
            <uib-tab index="1" heading="Filtering">
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <uib-accordion>                    
                            <uib-accordion-group is-open="status.custom">
                                <uib-accordion-heading>
                                Custom<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.custom, 'glyphicon-chevron-right': !status.custom}"></i>
                                </uib-accordion-heading>
                                <button class='btn btn-success' ng-click='showCircle()'>Show Filter</button>
                                <button class='btn btn-success' ng-click='refresh()'>Refresh</button>
                            </uib-accordion-group>
                            <uib-accordion-group is-open="status.users">
                                <uib-accordion-heading>
                                Users<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.users, 'glyphicon-chevron-right': !status.users}"></i>
                                </uib-accordion-heading>
                    
                            </uib-accordion-group>
                            <uib-accordion-group is-open="status.date">
                                <uib-accordion-heading>
                                Date<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.date, 'glyphicon-chevron-right': !status.date}"></i>
                                </uib-accordion-heading>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>
            </uib-tab>
    </uib-tabset>
</div>
<div class="col-sm-8" style="padding:0px;">
    <ui-gmap-google-map center='settings.map.center' zoom='settings.map.zoom' bounds='settings.bounds'>
        <ui-gmap-circle
            visible='circleFilter.visible'
            center='circleFilter.center'
            radius='circleFilter.radius'
            fill='circleFilter.fill'
            stroke='circleFilter.stroke'
            clickable='circleFilter.clickable'
            draggable='circleFilter.draggable'
            editable='circleFilter.editable'
            >
            </ui-gmap-circle>

        <ui-gmap-markers 
            models="markers" 
            coords="'self'" 
            icon="'icon'">
        </ui-gmap-markers>

</ui-gmap-google-map> 

</div>

